body, table, tr, th, td, div, center, span {
 margin:	0px 0px;
 border:	0px 0px;
 padding:	0px 0px;
}

body {
 font-family: Arial, Helvetica, Sans-serf;
}

h1, h2, h3, h4, h5 {
 margin: 8px 8px 0px 0px;
}

img {
 margin: 0px 0px;
 padding: 0px 0px;
}

td, .c, .l, .r {
 padding: 3px;
}

:link { color: #000090; font-weight: bold; }
:visited { color: #8060a0; font-weight: bold; }
:active { color: #600090; }

A.opt, A.optsel, A.opt:visited, A.optsel:visited, A.opt:hover, A.optsel:hover { color: #000090; }
A.opt:hover { background-color: #8080f0; text-decoration: underline; }
A.optselected { background-color: #a0a0ff; text-decoration: underline; }
A.optselected:hover { background-color: #c0c0ff; }
A.optselected {
 padding-left: 4px; padding-right: 4px;
 padding-top: 2px; padding-bottom: 2px;
 text-decoration: none;
 font-weight: bold;
}
A.opt {
 padding-left: 2px;
 padding-right: 2px;
 margin-left: 2px;
 text-decoration: none;
}

dt { padding-bottom: 2px; }
dd { padding-bottom: 5px; }

.content {
 padding-left: 14px;
 padding-right: 14px;
 padding-top: 12px;
 padding-bottom: 20px;
 background: #ffffff;
 color: #000000;
}

.error { color: red; }

.result, .error { border: 1px dashed gray; padding: 12px; }

.kfs { padding: 1px; font: Arial, Helvetica, Sans-serif; }

.hdr {
 border-top: 1px solid black;
 border-bottom: 1px solid black;
 font-weight: bold;
 background-color: #c0c0d0;
 color: #4000ff;
 padding: 2px;
 padding-left: 10px;
}

TABLE.nt { background-color: #e0e0ff; width: 100%; }
TABLE.nt TD {
 border-bottom: solid 1px blue; margin: 0 0 0 0; padding: 0 0 0 0; spacing: 0 0 0 0;
}
TABLE.nt SPAN {
 border-left: solid 1px blue; font-size: smaller;
 padding-left: 2px;
 padding-right: 3px;
}

.l0, .c0, .r0 { background-color: #e0e0f8 ; }
.l, .l1, .c, .c1, .r, .r1 { background-color: #f8f8f8 ; }
.l, .l0, .l1 { text-align: left; }
.c, .c0, .c1 { text-align: center; }
.r, .r0, .r1 { text-align: right; }

.titlebox {
 background-color: #000090;
 border: 0 none;
 width: 70%;
 padding: 4px;
 margin-bottom: 4px;
}
TABLE.titlebox TD {
 background-color: #ffffff; color: #000060;
}

.nav-brand {
 width: 120px;
 text-align: left;
 font-size: small;
}

.nav-crumb {
 width: 180px;
 text-align: left;
 font-weight: bold;
}

.nav-links {
 text-align: right;
}

.titlebox {
 text-align: center;
 background-color: #f8f8f8;
}

