body {
 margin: 1px 1px 1px 1px;
 padding: 1px 1px 1px 1px;
 font-family: Arial, Helvetica, Sans-Serif ;
 background-color: #ffffff ;
}
div, form, table, tr {
 padding: 0px;
 margin: 0px;
}

.page-heading {
 border-top: dotted 1px blue ;
 border-left: dotted 1px blue ;
 border-bottom: dotted 1px blue;
 font-family: Tahoma, Sans Serif ;
 font-size: 12pt ;
 font-weight: bold ;
 background-color: #f0f4f8 ;
 margin: -1px ;
 padding: -1px ;
 margin-bottom: 16px; 
}

.home-link, .heading, .host-page-info {
 padding-left: 6px ;
 padding-bottom: 3px;
 border-right: dotted 1px blue ;
 border-left: dotted 1px blue ;
}

.home-link, .heading {
}

.home-link {
 float: left ;
 display: inline;
 margin-right: 6px ;
 padding-right: 6px ;
}

.heading {
}

.host-page-info {
 float: right ;
 font-weight: lighter ;
 padding-right: 6px; 
}

.list {
 font-size: small; 
}
table.list {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: blue;
	border-collapse: collapse;
}
table.list tr.head {
	background-color: #404080 ;
	color: #f0f0b0 ;
	font-weight: bold;
	padding: 2px ;
}
table.list tr.foot {
 border-top: 1px solid ;
 font-style: italic ;
}
table.list tr.foot td, table.list tr.foot th {
 padding: 4px 0px 2px ;
}
table.list th {
	border-width: 1px;
	padding: 1px;
	border-style: dotted;
	border-color: gray;
	-moz-border-radius: ;
}
table.list td {
	border-width: 1px;
	padding: 1px;
	border-style: dotted;
	border-color: gray;
	-moz-border-radius: ;
}
table.list .l0, table.list .l1 {
 padding-top: 2px ;
 padding-bottom: 2px ;
}
table.list .l0 {
 background-color: #e3f0f7 ;
}
table.list .l1 {
 background: #f7f7f7 ;
}
.list input, .list textarea, .list select, .list submit {
 font-family: Consolas, Inconsolatas, Tahoma ;
}
.tblouter {
 display: table;
 border-collapse: collapse;
}
.tblinner {
 display: table-cell;
 border: 1px dotted gray ;
 border-collapse: collapse ;
 padding: 3px 4px 6px ;
 margin: 2px ;
}

h1 { font-size: 18pt ; }
h2 { font-size: 16pt ; }
h3 { font-size: 14pt ; }
h4 { font-size: 12pt ; }

h1, h2, .title {
 padding-left: 4px ;
 padding-right: 4px ;
 background-color: #404080 ;
 color: #f0f0b0 ;
}

.title {
 font-size: larger ;
}

.control {
 margin: 8px 32px 8px 32px;
 padding: 4px 24px ;

 border-left: 2px solid #c0c0ff ;
 border-top: 2px solid #c0c0ff ;
 border-right: 1px solid #808080 ;
 border-bottom: 1px solid #808080 ;

 background-color: #fcfcfc ;
 font-size: smaller ;
 font: Consolas, Cambria, Verdana, Sans-serif ;
 text-align: center ;
}

.control input {
 margin: 0px ;
}

input.checkbox {
 border: none ;
}

#pagelead {
 top: 0px;
 left: 0px;
 width: 100%;
 height: 24px ;
 border-bottom: 1px solid #333388 ;
 background-color: #f8f8f8 ;
}

#pageleadtitle {
 position: absolute;
 top: 0px; left: 4px;
}

#pageleadnav {
 position: absolute;
 top: 0px; right: 4px;
}

#pagemid {
 padding: 0px 4px ;
 width: 100%;
}

#pickserver {
 left: 10%;
 width: 100%;
 text-align: center;
 display: block ;
}

.haschosen {
 border-bottom: dotted 1px gray ;
 padding-bottom: 4px ;
 margin-bottom: 4px ;
 font-size: smaller;
 font-weight: lighter ;
}

.mustpick {
 text-align: center ;
 border: solid 4px blue ;
 font-weight: bolder ;
 padding: 4px ;
}

#pagecontent {
 background-color: #ffffff ;
}

.inprogress {
 width: 200px ;
 color: green ;
 padding: 24px ;
 margin: 16px ;
 background-color: #d0d0d0 ;
 text-align: center ;
 vertical-align: middle ;
 font-size: larger ;
 font-weight: bold ;
}

ul {
 margin-left: 20px ;
}

.quote {
 border: solid 1px black ;
 background-color: #d0d0e0 ;
 padding: 16 16 24 24 ;
 font-size: smaller ;
 font-family: Lucida Console ;
}

.stepnav {
 padding-top: 3px;
 padding-bottom: 3px ;
 border-top: 1px solid #333377 ;
 border-bottom: 1px solid #333377 ;
}

.stepbody {
 padding-top: 16px ;
 padding-bottom: 16px ;
 padding-left: 24px ;
 padding-right: 24px ;
}

.navidunk, .navidstaff, .naviduser {
 text-align: right ;
}

.navidstaff {
 color: #FCF13C ;
}

.naviduser {
 color: #000090 ;
}

.navhead, .head, .headdark, H3, H4, H5 {
 background-color: #404080 ;
 color: #f0f0b0 ;
 font-weight: bold;
 padding: 2px ;
}
.head A, .head A:visited {
 text-decoration: none ;
 color: #f0e0a0 ;
}
.head A:active {
 color: #f0a0a0 ;
}
.navhead, .headdark {
 margin-bottom: 2px ;
}
.head, .headdark {
 font-size: smaller;
}
.headdark {
 color: #000090 ;
}

.error {
 font-weight: bold ;
 color: #a01010 ;
 margin: 2px ;
 padding: 2px ;
}

.newsbody {
 border-top: 1px solid gray ;
 border-bottom: 1px solid gray ;
 padding: 8px ;
 padding-top: 20px ;
 padding-bottom: 20px ;
}

IMG.logo {
 margin-left: 8px ;
}

INPUT, SELECT, TEXTAREA, submit {
 font-size: smaller ;
 color: #000000 ;
 font-weight: bold ;
 border: solid 1px #000090 ;
 padding: 0 0 0 0 ;
 margin: 0 0 0 0 ;
}

.minput { font-size: 8pt ; background-color: #c0c000; }

.staff {
 font-size: smaller ;
 text-align: right;
 background-color: #80a0c0 ;
 border: 2px dashed #333366 ;
}

.editable {
 border-right: 2px dashed #405090 ;
 padding-right: 2px ;
 background-color: #b0c0e8 ;
 padding: 0 0 0 0 ;
 margin: 0 0 0 0 ;
}

.editableOpt {
 text-align: right ;
 background-color: #b0c0e0 ;
 font-size: smaller ;
 padding: 0 0 0 0 ;
 margin: 0 0 0 0 ;
 position: relative ;
}
 
.high {
 font-size: larger ;
 background-color: #f0f0c0 ;
 padding-left: 12px ;
 padding-right: 12px ;
 color: #000090 ;
}

.info {
 font-size: small ;
}

.info TD {
 border-top: solid 1px black ;
 border-bottom: solid 1px blue ;
 border-left: solid 1px black ;
 border-right: solid 1px blue ;
}

.clsCMOn {
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
 color: #000000; 
 font-size : 10px;
 text-decoration : none;
 padding : 4px 4px 4px 4px;
}
.clsCMOver {
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
 color: #f0f0c0;
 font-size : 10px;
 font-weight:bold;
 text-decoration : none;
 padding : 4px 4px 4px 4px;
}
A {
 font-family: Trebuchet MS, Lucida Sans Serif, Helvetica, Sans-serif ;
 font-weight: bold ;
 color: #1020f0 ;
}
A:visited {
 color: #a03050 ;
}
A:hover {
 color: orange ;
}
A:active {
 font-weight: bold ;
}

.popup {
 position: absolute ;
 top: 0 ;
 left: 0 ;
 width: 300 ;
 height: 180 ;
 background-color: #d0d020 ;
 font-family: Arial, Helvetica, Sans-serif ;
 font-size: 9pt ;
 border-left: none ;
 border-top: none ;
 border-right: 3px solid black ;
 border-bottom: 3px solid black ;
 visibility: hidden ;
 display: none ;
}

.popupInterior {
 top: 0 ;
 left: 0 ;
 width: 300 ;
 height: 180 ;
 border-left: 1px solid gray ;
 border-top: 1px solid gray ;
 border-right: 1px solid white ;
 border-bottom: 1px solid white ;
}

.viewer TD {
 background-color: #c0d0e0;
}

#dbsync {
 padding: 8px ;
 padding-left: 20px ;
 padding-right: 20px ;
 width: 50% ;
 margin-bottom: 4px ;
}

.err, .bad {
 border: 2px dashed red ;
 color: red ;
 font-weight: bold ;
 font-size: larger ;
 background-color: #ffd0d0 ;
}

.ok {
 border: 1px dotted green ;
 color: green ;
 background-color: white ;
}

.nom {
 border: 1px dotted orange ;
 color: black ;
 background-color: #fff8f0 ;
}

.del {
 border: 1px solid orange ;
 color: orange ;
 background-color: #fff0f0 ;
}

.bad {
 text-decoration: underline ;
 font-weight: bolder ;
}

#pagehelp {
 position: absolute ;
 left: 30% ; top: 80px ;
 width: 40% ; height: 240px ;
 border-left: solid 4px black ;
 border-top: solid 4px black ;
 border-right: solid 4px gray ;
 border-bottom: solid 4px gray ;
 background-color: white ;
 visibility: hidden ;
}

.countryform {
 border: 1px solid gray ;
 padding: 2px ;
}

.infoUP, .infoDOWN {
 padding: 2px ;
 margin: 1px 1px 1px 1px ;
 font-size: 8pt;
 text-align: center ;
 width: 40px;
}

.infoUP {
 border: 1px dotted green ;
 color: green ;
}

.infoDOWN {
 border: 1px dotted red ;
 color: #d00030 ;
 font-weight: bold ;
}

.countryform {
 border: 1px solid gray ;
 padding: 2px ;
}

.onlineHost {
 color: green ;
}
.offlineHost {
 color: red ;
 font-weight: bold ;
}
.unknownHost {
 color: orange ;
 font-weight: lighter ;
}
.hostName {
 text-align: center ;
}

#strathost, #chatHost, #mmHost, #cellHost {
 text-align: center ;
}

#realtime {
	display: none ;
	border: 1px solid #e0e0e0 ;
	background-color: #f8f8f8 ;
	margin: 0px ;
	font-size: smaller ;
}
#serverlist
{
	font-family: Arial;
}
.servstat-name {
	text-align: left;
	display: inline-block;
	padding-left: 4px ;
	border-left: 1px dotted gray ;
}
.servstat-state {
	display: inline-block;
	padding-right: 4px ;
}

